.pteic {
  display: inline-block;
  flex: 0 0 auto;
  width: 16px;
  height: 16px;
  pointer-events: none;
  background-color: var(--pteic-color, currentColor);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
}

.pteic.pteic-arrow-down {
  -webkit-mask-image: url('/icons/arrow-down.svg');
  mask-image: url('/icons/arrow-down.svg');
}

.pteic.pteic-arrow-up {
  -webkit-mask-image: url('/icons/arrow-up.svg');
  mask-image: url('/icons/arrow-up.svg');
}

.pteic.pteic-case-sensitive {
  -webkit-mask-image: url('/icons/case-sensitive.svg');
  mask-image: url('/icons/case-sensitive.svg');
}

.pteic.pteic-chevron-down {
  -webkit-mask-image: url('/icons/chevron-down.svg');
  mask-image: url('/icons/chevron-down.svg');
}

.pteic.pteic-close {
  -webkit-mask-image: url('/icons/close.svg');
  mask-image: url('/icons/close.svg');
}

.pteic.pteic-preserve-case {
  -webkit-mask-image: url('/icons/preserve-case.svg');
  mask-image: url('/icons/preserve-case.svg');
}

.pteic.pteic-regex {
  -webkit-mask-image: url('/icons/regex.svg');
  mask-image: url('/icons/regex.svg');
}

.pteic.pteic-replace-all {
  -webkit-mask-image: url('/icons/replace-all.svg');
  mask-image: url('/icons/replace-all.svg');
}

.pteic.pteic-replace {
  -webkit-mask-image: url('/icons/replace.svg');
  mask-image: url('/icons/replace.svg');
}

.pteic.pteic-text-size {
  -webkit-mask-image: url('/icons/text-size.svg');
  mask-image: url('/icons/text-size.svg');
}

.pteic.pteic-whole-word {
  -webkit-mask-image: url('/icons/whole-word.svg');
  mask-image: url('/icons/whole-word.svg');
}

.pteic.pteic-word-wrap {
  -webkit-mask-image: url('/icons/word-wrap.svg');
  mask-image: url('/icons/word-wrap.svg');
}
