.pretext-editor .icon {
  display: inline-block;
  flex: 0 0 auto;
  width: 16px;
  height: 16px;
  pointer-events: none;
  background-color: var(--pteic-color, currentColor);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
}

.pretext-editor .icon.icon-arrowdown {
  -webkit-mask-image: url('../icons/arrow-down.svg');
  mask-image: url('../icons/arrow-down.svg');
}

.pretext-editor .icon.icon-arrowup {
  -webkit-mask-image: url('../icons/arrow-up.svg');
  mask-image: url('../icons/arrow-up.svg');
}

.pretext-editor .icon.icon-casesensitive {
  -webkit-mask-image: url('../icons/case-sensitive.svg');
  mask-image: url('../icons/case-sensitive.svg');
}

.pretext-editor .icon.icon-chevrondown {
  -webkit-mask-image: url('../icons/chevron-down.svg');
  mask-image: url('../icons/chevron-down.svg');
  transition: transform 0.12s;
}

.pretext-editor .icon.icon-chevrondown.icon-chevrondown--collapsed {
  transform: rotate(-90deg);
}

.pretext-editor .icon.icon-close {
  -webkit-mask-image: url('../icons/close.svg');
  mask-image: url('../icons/close.svg');
}

.pretext-editor .icon.icon-preservecase {
  -webkit-mask-image: url('../icons/preserve-case.svg');
  mask-image: url('../icons/preserve-case.svg');
}

.pretext-editor .icon.icon-regex {
  -webkit-mask-image: url('../icons/regex.svg');
  mask-image: url('../icons/regex.svg');
}

.pretext-editor .icon.icon-replaceall {
  -webkit-mask-image: url('../icons/replace-all.svg');
  mask-image: url('../icons/replace-all.svg');
}

.pretext-editor .icon.icon-replace {
  -webkit-mask-image: url('../icons/replace.svg');
  mask-image: url('../icons/replace.svg');
}

.pretext-editor .icon.icon-textsize {
  -webkit-mask-image: url('../icons/text-size.svg');
  mask-image: url('../icons/text-size.svg');
}

.pretext-editor .icon.icon-wholeword {
  -webkit-mask-image: url('../icons/whole-word.svg');
  mask-image: url('../icons/whole-word.svg');
}

.pretext-editor .icon.icon-wordwrap {
  -webkit-mask-image: url('../icons/word-wrap.svg');
  mask-image: url('../icons/word-wrap.svg');
}
